/* Default page */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

 :root {
    --success: #2ecc71;
    --shadow: 0 8px 20px rgba(0,0,0,0.15);
    --radius: 14px;
    --transition: 0.5s ease;
    }

body{
   padding: 88px 0px 120px;
   background-color: #f1f6ff;
   font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

h2{
    font-size: 32px;
}

     .toast-container {
        position: fixed;
        bottom: 20px;
        left: 20px;
        max-width: 330px;
        z-index: 9999;
    }

    .toast {
        background: #fff;
        border-left: 6px solid var(--success);
        color: #333;
        padding: 16px 18px;
        margin-top: 12px;
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        display: flex;
        align-items: center;
        gap: 12px;
        opacity: 0;
        transform: translateX(-100%);
        animation: slideIn var(--transition) forwards;
    }

    .toast img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
    }

    .toast strong {
        font-weight: 700;
        display: block;
        margin-bottom: 4px;
    }

    @keyframes slideIn {
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        to {
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    @media (max-width: 480px) {
        .toast {
            padding: 14px;
            font-size: 14px;
        }
        .toast img {
            width: 38px;
            height: 38px;
        }
    }